.playback, .record {
  padding: 16px;
}

.tap-target {
  margin-top: 16px;
  width: 100%;
  height: 200px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;

  &:focus {
    background: #aaa;
  }
}