<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!--This should be a separate component. -->
<div class="rhythm">
  <span [ngClass]="{
    'rest': part === '0',
    'beat': part === '1',
    'current': i === currentIndex
    }" *ngFor="let part of refRhythmItems; index as i">&nbsp;</span>
</div>

<div class="controls">
<mat-slide-toggle [checked]="playing" (change)="togglePlay($event)">
  Playing back
</mat-slide-toggle>

<mat-slide-toggle [checked]="metronome" (change)="toggleMetronome($event)">
  Metronome
</mat-slide-toggle>
</div>


<router-outlet></router-outlet>
